@model ProductViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h1>BITCOIN CONVERTER</h1>

<h2>Last updated: @Model.LastUpdated</h2>

<hr />

<div class="container-fluid">
    <div class="row">
        @foreach(var item in Model.Products)
        {
            <div class="col-md-4 product">
                <div class="gallery">
                    <img src="~/images/@item.ImgUrl" width="300" height="200" />
                    
                    <div class="desc">@item.Name</div>
                    <div class="desc">@item.DKKPrice</div>
                    <div class="desc">@item.BitcoinPrice</div>

                </div>
            </div>
        }

    </div>

</div>
