@model ProductViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h1>Hvad koster det i bitcoin?</h1>

<h2>Last updated: @Model.LastUpdated</h2>

<hr />

<div class="container-fluid">
    <div class="row">
        @foreach(var item in Model.Products)
        {
            <div class="col-md-4 product">
                <div class="gallery">
                    <img src="~/images/@item.ImgUrl" class="img-responsive img-thumbnail"/>
                    <div id="description">
                        <div id="name">@item.Name</div>
                        <hr id="desc-divider"/>
                        string moneyValue = String.Format("{0:C}", moneyvalue);
                        <div class="price-dkk">@item.DKKPrice kr.</div>
                        <hr id="desc-divider" />
                        <div class="price-b">@item.BitcoinPrice </div>
                    </div>

                </div>
            </div>
        }

    </div>

</div>
